* {
  background-color: #fff7f3;
  font-family: 'Diplomata SC', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

li {
  font-size: 2rem;
  list-style-type: none;
  padding-left: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  font-size: 1rem;
}

#nameHere,
#nameHere:focus {
  border: none;
  outline: none;
  font-size: 2rem;
  text-align: center;
}

#Ctitle,
#Ctitle:focus {
border: none;
font-size: 2rem;
appearance: none;
text-align: center;
}

#Description {
text-align: center;
margin-top: 1rem;
}

#CEOName {
display: flex;
flex-flow: column;
align-items: center;
margin-top: 2rem;
}

#CEOTitle {
display: flex;
flex-flow: column;
align-items: center;
}

#currentdate {
font-size: 0.8rem;
font-style: italic;
}

.Intro {
display: flex;
justify-content: space-between;
}

.Intro h1{
margin-top: 10%;
}

.BottomImages {
display: flex;
justify-content: space-between;
}

.CongratsContent {
display: flex;
flex-flow: column wrap;
align-items: center;
text-align: center;
}

.thiccLine {
height: 2px;
background-color: black;
border: none;
}

.shortLine {
width: 30%;
border: none;
background-color: black;
height: 1px;
}

.img {
  height: 250px;
}

.img-alt {
  height: 250px;
}

.mirror {
  transform: scaleX(-1);
}

@media print {
  body {
    max-height: 100vh;
  }

  * {
      background-color: #fff7f3;
      font-family: 'Diplomata SC', sans-serif;
  }

  h1 {
      font-size: 3rem;
  }

  h2 {
      font-size: 2rem;
  }

  li {
      font-size: 2rem;
      list-style-type: none;
      padding-left: 0;
  }

  ul {
      list-style-type: none;
      padding-left: 0;
  }

  p {
      font-size: 1rem;
  }

  #nameHere,
  #nameHere:focus {
      border: none;
      outline: none;
      font-size: 2rem;
      text-align: center;
  }

  #Ctitle,
  #Ctitle:focus {
    border: none;
    font-size: 2rem;
    appearance: none;
    text-align: center;
  }

  #Description {
    text-align: center;
    margin-top: 1rem;
  }

  #CEOName {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
  }

  #CEOTitle {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  #currentdate {
    font-size: 0.8rem;
    font-style: italic;
  }

  .Intro {
    display: flex;
    justify-content: space-between;
  }

  .Intro h1{
    margin-top: 10%;
  }

  .BottomImages {
    display: flex;
    justify-content: space-between;
  }

  .CongratsContent {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }

  .thiccLine {
    height: 2px;
    background-color: black;
    border: none;
  }

  .shortLine {
    width: 30%;
    border: none;
    background-color: black;
    height: 1px;
  }

  .img-alt {
    height: 200px;
  }

  .mirror {
    transform: scaleX(-1);
  }
}
